* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li {
  font-size: 14px;
  color: #444;
  cursor: pointer;
}

.user-btn {
  background: #e6f2ff;
  color: #2b7cff;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

/* TEXT */
.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 36px;
  line-height: 1.3;
  color: #2f3b4c;
}

.hero-text span {
  color: #1e90ff;
}

.hero-text p {
  margin-top: 15px;
  font-size: 14px;
  color: #6b7280;
  line-height: 1.6;
}

/* BUTTON */
/* .cta-btn {
  margin-top: 20px;
  background: #1e90ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
} */
 .cta-btn {
  margin-top: 20px;
  background: #1e90ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  /* ⭐ IMPORTANT: smooth transition */
  transition: all 0.3s ease;
}
.cta-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  background: #1877f2;
}

/* IMAGE */
.hero-img img {
  width: 380px;
}